/* Common */
/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.text-white{
    color: #fff !important;
}
.pull-right{
    float: right!important;
}
.btn{
    margin-bottom: 16px;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    /* để thẻ a nằm trong block */
    display: inline-block; 
    border: none;
    cursor: pointer;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}
.btn:hover{
    background-color: #ccc;
    color: #000
}
.mt-8{
    margin-top: 8px!important;
}
.mt-16{
    margin-top: 16px!important;
}
.mt-32{
    margin-top: 32px!important;
}
.text-center{
    text-align: center !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;

}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%; 
}
.col-third{
    width: calc(100% / 3);
}
.col-full{
    width: 100%;
}
/* Main */
#main{
    
}
#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav > li{
    display: inline-block;  
    /*inline-block có khoảng cách giữa các div nên dùng float*/
    /* float: left; */
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;

}
#nav li a{
    padding: 0 24px;
    line-height: 46px;
    text-decoration: none;
    display: block;
}
#nav > li:hover > a, #nav .subnav li:hover a{
    background-color: #ccc;
    color: #000;
}
#nav li:hover > .subnav{
    display: block;
}
#nav .subnav{
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .menu-icon,
#header .search-icon{
    color:#fff;
    line-height: 46px;
    font-size: 20px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
.mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#slider{
    margin-top: 46px;
    /* kích thước chiều cao bằng 50% chiều ngang */
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}
#slider .text-heading{
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-content{
    position: absolute;
    color:#fff;
    bottom: 48px;
    text-align: center;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
    /*  Cách  1 
    left: 50%;
    transform: translateX(-50%); */

    /*  Cách 2 */
    width: 100%;

    /*  Cách 3 
    right: 0;
    left: 0;*/
}
#content{
    
}
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;

}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#content .section-sub-heading{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    opacity: 0.6;
    margin-top: 25px;
}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}
#content .members-list{
    margin-top: 32px;
}
#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 150px;
    margin-top: 15px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    list-style-type: none;
    margin-top: 40px;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.places-list{
    margin-top: 16px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.7;
}
.place-body{
    background-color: #fff;
    padding: 0.01em 16px;
    font-size: 15px;
    width: 100%;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0px;
}
.place-time{
    opacity: 0.6;
    margin: 15px 0px;
}
.place-desc{
    margin: 15px 0px;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    animation: modalFadeIn ease 0.5s;
}
.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    min-height: 200px;
    width: 900px;
    /* responsive */
    /* 32px vì mỗi bên padding 16px */
    max-width: calc(100% - 32px);
    position: relative;
}
.modal-close{
    background-color: #009688;
    text-align: right;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 12px;
    cursor: pointer;
}
.modal-header{
    height: 130px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}
.modal-heading-icon .ti-bag{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    width: 100%;
    background-color: #009688;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 16px 0px;
    cursor: pointer;
}
#buy-tickets:hover{
    background-color: #ccc;
    color: #fff;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196F3;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Contact form*/
.contact-content {
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img{
    width: 100%;
    filter: grayscale(50%);
}
#footer {
    padding: 64px 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
}
#footer .social-list{
    font-size: 22px;
}
#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-list a:hover,
#footer .copyright a:hover{
    color: rgba(0, 0, 0, 0.4);

}
#footer .copyright{
    margin: 15px 0px;
    color: rgba(0, 0, 0, 0.6);

}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);

}